@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

$green:#66BB6A;
$blue:#29B6F6;
$background-color:#EFF1F3;

// Mixin
@mixin phone {
    @media (max-width: 599px) { @content; }
}
@mixin tablet {
    @media (min-width: 600px) { @content; }
}
@mixin laptop {
    @media (min-width: 900px) { @content; }
}
@mixin desktop {
    @media (min-width: 1200px) { @content; }
}

body{
    font-family: "Roboto", sans-serif;
    background:$background-color;
    min-height:100vh;
    position: relative;
}

.section-50{
    padding:50px 0;
}

.m-b-50{
    margin-bottom: 50px;
}

.dark-link{
    color:#333;
}

.heading-line{
    position: relative;
    padding-bottom: 5px;
    &:after{
        content:"";
        height:4px;
        width:75px;
        background-color:$blue;
        position: absolute;
        bottom:0;
        left:0;
    }
}

.notification-ui_dd-content{
    margin-bottom: 30px;
}

.notification-list{
    display: flex;
    justify-content: space-between;
    padding:20px;
    margin-bottom: 7px;
    background:#fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.06);
    &--unread{
        border-left: 2px solid $blue;
    }
    .notification-list_content{
        display:flex;
        .notification-list_img{
            img{
                height:48px;
                width:48px;
                border-radius:50px;
                margin-right:20px;
            }
        }
        .notification-list_detail{
            p{
                margin-bottom: 5px;
                line-height:1.2;
            }
        }
    }
    .notification-list_feature-img{
        img{
            height:48px;
            width:48px;
            border-radius:5px;
            margin-left:20px;
        }
    }
}