<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forums</servlet-name>
        <servlet-class>controller.ForumsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincontroller</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutcontroller</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>askformcontroller</servlet-name>
        <servlet-class>controller.QuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thread</servlet-name>
        <servlet-class>controller.ThreadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>controller.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>controller.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notificationn</servlet-name>
        <servlet-class>controller.Notificationn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forums</servlet-name>
        <url-pattern>/forums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincontroller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutcontroller</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>askformcontroller</servlet-name>
        <url-pattern>/ask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thread</servlet-name>
        <url-pattern>/thread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notificationn</servlet-name>
        <url-pattern>/notificationn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
