<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forums</servlet-name>
        <servlet-class>controller.ForumsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincontroller</servlet-name>
        <servlet-class>controller.UserController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutcontroller</servlet-name>
        <servlet-class>controller.UserController.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>askformcontroller</servlet-name>
        <servlet-class>controller.QuestionController.QuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thread</servlet-name>
        <servlet-class>controller.ThreadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>controller.CommentController.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>controller.UserController.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notificationn</servlet-name>
        <servlet-class>controller.Notificationn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationReadingChecking</servlet-name>
        <servlet-class>controller.UserController.NotificationReading</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>controller.UserController.MessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeController</servlet-name>
        <servlet-class>controller.LikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment_Like_Controller</servlet-name>
        <servlet-class>controller.CommentController.Comment_Like_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post_Like_Controller</servlet-name>
        <servlet-class>controller.QuestionController.Post_Like_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAuto</servlet-name>
        <servlet-class>controller.UserController.loginAuto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forums</servlet-name>
        <url-pattern>/forums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincontroller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutcontroller</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>askformcontroller</servlet-name>
        <url-pattern>/ask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thread</servlet-name>
        <url-pattern>/thread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notificationn</servlet-name>
        <url-pattern>/notificationn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationReadingChecking</servlet-name>
        <url-pattern>/haveread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/user/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeController</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment_Like_Controller</servlet-name>
        <url-pattern>/Comment_Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post_Like_Controller</servlet-name>
        <url-pattern>/Post_Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAuto</servlet-name>
        <url-pattern>/auto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
